<header>
  <nav>
    <a class="logo" href="/items">SMART TODO</a>
    <a href="items">My ToDo List</a>
    <a href="items/new">Create New ToDo</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <!-- <div class="inline-flex" style="right: 25px; position: absolute;"> -->

    <!-- If not logged in -->

  </nav>
</header>
