<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-info">
    <div class="navbar-brand">SMART TODO</div>
    <div class="inline-flex" style="right: 25px; position: absolute;">

      <!-- If not logged in -->
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link" href="/register">Register</a>
      </div>
      <!-- If logged in -->
      <!-- <form class="form-inline justify-content-right" action="/logout" method="POST">
            <label for="email" style="margin-right: 10px;">
              Hi, first_name
            </label>
            <button type="submit" class="btn btn-outline-dark">Logout</button>
          </form> -->
    </div>
  </nav>
</header>
