<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart ToDo - Registration</title>
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/formvalid.js"></script>
</head>

<body>

  <%- include('partials/_header') %>

  <main id="main-register">
    <div class="form-group mb-2">

      <form action="/register?_method=PUT" method="POST" class="log-reg-form br5">
        <h3 class="center">Create An Account</h3>
        <div>
          <label for="email">Email Address</label>
          <input class="form-control" type="email" name="email" placeholder="Enter your email">
        </div>
        <div>
          <label for="first_name">Name</label>
          <input class="form-control" type="text" name="first_name" placeholder="Enter your name">
        </div>
        <div>
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" placeholder="Enter your password">
        </div>
        <div id="errors"></div>
        <div class="clear-after">
          <button class="btn-green" type="submit" class="btn btn-primary">Register</button>
        </div>
        <div class="form-error-div"><% if(error){%> <%= error %> <%}%></div>
      </form>
      <div class="center">
        <a href="/login">Already have an account? Click here to login!</a>
      </div>
    </div>
  </main>

</body>

</html>
