// See: https://sass-lang.com/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  // background-color: red;
  box-sizing: border-box;
  margin: 0 auto;
  width: 90% ;
  font-size: 16px;
  font-family:  sans-serif;
}
//Helpers------------
.center{text-align: center;}
.padding5 {padding: 5px;}
.br5{border-radius: 5px;}

// Colors ------------
$darkblue: #215ea3;
$lightblue: #7eade2;
$logo-color: #193faf; 
$border-color: #5d6f83;
$link-color: #3f67b5;
$form-bkg: #f5faff;

// Links -------------
a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    text-decoration: underline;
  }
}

//HEADER ----------------
nav {
  // border: 1px solid blue;
  background: #f5f7fa;
  border: 5px;
  padding: 1rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
  // padding-bottom: 1rem;
  // border-bottom:  #215ea3 solid 1px;
}
// Logo ---------
a.logo {
  display: inline-block;
  font-family: 'Rampart One', cursive;
  font-size: 1.4rem;
  color: $logo-color;
  text-shadow: 1px 1px 1px #cbdff5;
  padding: 1px 5px;
  border-radius: 4px;
  background: white;
}
a.logo:hover {
  text-decoration: none;
  text-shadow:none;
   background: #5179ca;
   color: white;
}

//main.ejs page nav links
.nav-link-div {
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.nav-link-div a {
  display: inline-block;
  padding: 2px 7px;
  border: 1px solid #a3b3e6;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;
  &:hover {
    color: white;
    background: #798bc7;
  }
}
span#loggedin-user{
  color: rgb(21, 148, 93);
}
//login.ejs page nav links:
.nav-login-div {
  margin-right: 1rem;
  width: 10%;
  display: flex;
  justify-content: space-between;
}

/* Main Body in the main.ejs ---------- */
#lists-container {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.containers {
  min-height: 20rem;
  width: 100%;
  border: 1px solid $border-color;
  border-radius: 2px;
}

.list-headings {
  // border: 1px solid red ;
  width:100%;
  background-color:$darkblue; /* rgb(114, 160, 182); */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  border-radius: 2px 2px 0 0;
}

.list {
  width: 12rem;
  margin: 12px;
  box-shadow:  0 1px 3px 0 rgba(200, 213, 239, 0.87);
  border-radius: 3px;
}

.list-table {
  list-style-type: none;
  padding: 0rem 0.2rem;
  margin: 0.2rem 0rem;
}

.list-row {
  padding-bottom: 1rem;
}

/* Main Body in the register.ejs ---------- */
#main-register {
  max-width: 400px;
  margin: 0 auto;
}
//Buttons ------------
button { 
  padding: 3px 5px;
  &:hover {
    cursor: pointer;
  }
}
.btn-red {
  background: rgb(247, 223, 226);
  border: 1px solid rgb(211, 135, 145);
  border-radius: 2px;
  &:hover {
    color:white;
    background: rgb(187, 91, 104);
    }
}
.btn-green {
  background: rgb(214, 241, 228);
  border: 1px solid  rgb(26, 155, 93);
  border-radius: 2px;
  &:hover {
    background:  rgb(15, 139, 79);
    color: white;
  }
}

// FORMS =================
input {
  padding: 3px;
  background-color: #fff;
  outline:none;
  border-style: solid;
  border: 1px solid;
  border-radius: 2px;
}

//main.ejs Form ----------
.add-item-form {
  display: flex;
  justify-content: center;
}
.add-item-input {
  width: 12rem;
}
.add-description-input {
  width: 24rem;
}
//login.ejs form ----------
.log-reg-form h3{
  margin: 5px 0 1.7rem 0;
  color: $darkblue;
}

.log-reg-form {
  overflow: hidden;
  padding: 14px ;
  border: 1px solid $lightblue;
  max-width:300px;
  margin: 10px auto 1rem auto;
  background: $form-bkg;
}
.log-reg-form div {
  margin-bottom: 1.1rem;
}
.log-reg-form div input, .log-reg-form button {
  float: right;
}
.log-reg-form input {
  border-color: $lightblue;
  &:focus{
    box-shadow:  0 0 2px 2px rgba(200, 213, 239, 0.87);
}


}




