// See: https://sass-lang.com/

body,
html {
  margin: 0 auto;
}

body {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  max-width: 80%;
  min-height: 100vh; 
}
main {
  margin-top: 20px;
}


